<div class="outer-container">
  <div class="header text-center my-4">
    <h1 class="app-title">Lobby</h1>
  </div>

  <div class="top-section" *ngIf="lobby">
    <div class="players">
      <div class="player-box" *ngFor="let player of players" [ngClass]="{
          'current-player-a': player.name === user.name && player.role === 'A',
          'current-player-b': player.name === user.name && player.role === 'B',
          'inactive-player-a': player.name !== user.name && player.role === 'A',
          'inactive-player-b': player.name !== user.name && player.role === 'B'
      }">
        {{ player.name }}
      </div>
    </div>
    <div class="lobby-code-section">
      <button class="btn invite-btn" (click)="copyInviteLink()" [disabled]="players.length > 1">
        <i class="bi bi-person-plus"></i>
      </button>
      <button class="btn copy-btn" (click)="copyLobbyCode()">
        <i class="fa fa-copy"></i> {{ lobbyCode }}
      </button>
    </div>
  </div>

  <div class="content" *ngIf="lobby">
    <div class="game-modes-column">
      <h2 class="modes-title">Wähle einen Spielmodus</h2>
      <div class="modes-row">
        <div class="mode" *ngFor="let mode of gameModes" (click)="updateMode(mode.id)"
          [ngClass]="{'selected': selectedMode.id === mode.id, 'disabled': user.role !== 'A'}">
          <div class="card">
            <img [src]="mode.image" class="card-img-top" alt="{{ mode.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ mode.name }}</h5>
              <p class="card-text">{{ mode.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="difficulty-slider">
      <h3>Schwierigkeit</h3>
      <input type="range" min="1" max="3" step="1" [ngModel]="DifficultyHelper.toNumber(selectedDifficulty)"
        (ngModelChange)="updateDifficulty($event)"
        [disabled]="!selectedMode || user.role !== 'A'">
      <p>{{ selectedDifficulty }}</p>
    </div>

    <div class="rounds-slider">
      <h3>Anzahl der Runden</h3>
      <input type="range" min="3" max="7" step="2" [(ngModel)]="selectedRounds"
        (change)="user.role === 'A' && updateRounds()"
        [disabled]="!selectedMode || user.role !== 'A'">
      <p>{{ selectedRounds }}</p>
    </div>
  </div>

  <div class="actions">
    <div class="action-cell"></div>
    <div class="action-cell">
      <button class="btn btn-primary start-game-btn"
        [disabled]="!selectedMode || players.length < 2 || user.role !== 'A'" (click)="startGame()">
        Spiel starten
      </button>
    </div>
    <div class="action-cell">
      <button class="btn btn-danger leave-lobby-btn" (click)="leaveLobby()">Lobby verlassen</button>
    </div>
  </div>
</div>