.outer-container {
  height: calc(100vh - 60px); /* Höhe des Containers abzüglich des Margins */
  margin: 30px; /* Größerer Margin von allen Seiten */
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0); /* Vollständig transparenter Hintergrund */
  border-radius: 10px; /* Optional: abgerundete Ecken */
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.app-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333333; /* Dunklere Farbe für besseren Kontrast */
  margin: 0;
}

.app-description {
  font-size: 1.2rem;
  color: #666666; /* Mitteldunkle Farbe für besseren Kontrast */
  margin: 10px 0 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Linke und rechte Spalte jeweils 1fr, mittlere Spalte 2fr */
  gap: 20px;
  flex-grow: 1; /* Nimmt den verbleibenden Platz ein */
}

.counters-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counters-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.counter {
  background-color: #f0f0f0; /* Hellere Hintergrundfarbe */
  border: 1px solid #333333; /* Dunklere Randfarbe */
  border-radius: 5px;
  font-size: 1.2rem;
  color: #333333; /* Dunklere Schriftfarbe */
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  flex: 1;
}

.footer-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: auto;
}

.footer-buttons .btn {
  flex: 1;
  max-width: 180px; /* maximale Breite */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
}

.footer-buttons .btn:disabled {
  background-color: #ccc; /* Ausgegrauter Hintergrund */
  border-color: #ccc; /* Ausgegrauter Rand */
  cursor: not-allowed;
  color: #666; /* Ausgegraute Schrift */
}

.game-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-container {
  padding: 20px;
  text-align: center;
}

.hangman-image img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.word {
  font-size: 2rem;
  letter-spacing: 10px;
  margin-bottom: 20px;
  color: #333333; /* Dunklere Farbe für besseren Kontrast */
}

.letters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.letter-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.letters button {
  margin: 5px;
  padding: 10px;
  font-size: 1.5rem;
  width: 45px;
  height: 45px;
  background-color: #f0f0f0; /* Hellere Hintergrundfarbe */
  border: 1px solid #333333; /* Dunklere Randfarbe */
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333; /* Dunklere Schriftfarbe */
}

.letters button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.chat-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid #333333; /* Dunklere Randfarbe */
  border-radius: 5px;
  padding: 10px;
  background-color: #f0f0f0; /* Hellere Hintergrundfarbe */
}

.chat-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333; /* Dunklere Schriftfarbe */
  margin-bottom: 10px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  width: 100%;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-timestamp {
  display: block;
  font-size: 0.8rem;
  color: #888;
}

.chat-input {
  display: flex;
  width: 100%;
}

.chat-input input {
  flex: 1;
  margin-right: 10px;
  height: 40px;
}

.chat-input button {
  flex: 0;
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-over,
.game-won {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.game-over {
  color: #ff4d4d;
}

.game-won {
  color: #4caf50;
}

.btn-primary {
  background-color: #4caf50;
  border-color: #4caf50;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 0.9rem;
}

.btn-block {
  width: 100%;
}

.btn-danger {
  background-color: #ff4d4d; /* Hellere rote Farbe */
  border-color: #ff4d4d; /* Gleiche Farbe wie der Hintergrund */
  font-weight: bold;
  color: #ffffff; /* Weiße Schriftfarbe */
}
