<div class="outer-container">
  <div class="header text-center my-4">
    <h1 class="home-title">Hangman Multiplayer</h1>
    <p class="home-description">Starte ein neues Spiel oder trete einer Lobby bei, um mit einem Freund zu spielen</p>
  </div>
  <div class="content">
    <div class="home-column">
      <form class="home-form" #form="ngForm">
        <div *ngIf="errorMessages.length" class="error-messages">
          <ul>
            <li *ngFor="let error of errorMessages">{{ error }}</li>
          </ul>
        </div>
        <div class="form-group">
          <label for="username">Spielername</label>
          <input type="text" id="username" name="username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
          <label for="lobby-code">Lobby Code</label>
          <input type="text" id="lobby-code" name="lobbyCode" [(ngModel)]="lobbyCode" maxlength="6" pattern="^[a-zA-Z0-9]*$" #lobbyCodeField="ngModel" required>
          <div *ngIf="(lobbyCodeField.touched && lobbyCodeField.invalid) || (form.submitted && !lobbyCode)">
            <small class="error" *ngIf="form.submitted && !lobbyCode">Lobby Code ist erforderlich.</small>
            <small class="error" *ngIf="lobbyCodeField.errors?.['pattern']">Lobby Code darf nur Buchstaben und Zahlen enthalten.</small>
          </div>
        </div>
        <div class="button-group">
          <button type="submit" class="btn btn-primary" (click)="joinLobby()" [disabled]="form.invalid">Freund beitreten</button>
          <button type="button" class="btn btn-secondary" (click)="createLobby()" [disabled]="!username || !!lobbyCode" [ngClass]="{'disabled-button': !username || !!lobbyCode}">Neues Spiel erstellen</button>
        </div>
      </form>
    </div>
  </div>
</div>
